<h3 class="bonfire">
	Elden Ring {{Boss.Name}}
	{% if Boss.IsBoss %}Boss{% endif %}
	{% if Display == 'EnemySpecific' %}({{Boss.Location}}){% endif %}
</h3>

<ul>
	<li>
		{% if Boss.IsBoss %}
			This is {% unless Boss.Optional %}not{% endunless %} an optional boss
		{% else %}
			This enemy does not have a boss bar, but it will not respawn when killed
		{% endif %}
	</li>
	{% if Boss.IsNPC %}
		<li>
			This is a Tarnished boss: its stats and attacks work like a player character with
			equipped items
		</li>
	{% endif %}
	<li>
		Closest Site of Grace:
		<strong>{{Boss.ClosestGrace}}</strong>
	</li>
	<li>
		Multiplayer is {% unless Boss.MultiplayerAllowed %}not{% endunless %} allowed for this
		{% if Boss.IsBoss %}boss{% else %}enemy{% endif %}
	</li>
	<li>
		You
		{% if Boss.SummonsAllowed %}can{% else %}<strong>cannot</strong>{% endif %}
		summon
		<a
			class="wiki_link"
			href="https://eldenring.wiki.fextralife.com/Spirit+Ashes"
		>Spirit Ashes</a>
		for this {% if Boss.IsBoss %}boss{% else %}enemy{% endif %}
	</li>
	{% if Boss.SummonableNPCs.size > 0 %}
		<li>
			<a class="wiki_link" href="/NPC+Summons">NPC Summons</a>:
			{% for npc in Boss.SummonableNPCs %}<!--
				-->{% unless forloop.first %}, {% endunless %}
				<a href="{{npc | spaceToPlus}}">{{npc}}</a><!--
			-->{% endfor %}
		</li>
	{% endif %}
</ul>