<ul>
	{% if ShowEnemySpecific %}
	    <li>
            Health:
			{% for hp in Boss.HP[0] %}<!--
				-->{% unless forloop.first %}, {% endunless %}
				<span style="color: #ffffff;" data-mce-style="color: #ffffff;">
					<strong>{{hp | number}}</strong>
					HP
				</span>
				{% if forloop.length > 1 %}(phase {{forloop.index}}){% endif %}<!--
			-->{% endfor %}
			{% if Nightreign %}
			  solo;
				{% for hp in Boss.TrioHP[0] %}<!--
					-->{% unless forloop.first %}, {% endunless %}
					<span style="color: #ffffff;" data-mce-style="color: #ffffff;">
						<strong>{{hp | number}}</strong>
						HP
					</span>
				{% if forloop.length > 1 %}(phase {{forloop.index}}){% endif %}<!--
			  -->{% endfor %}
			  trio
			{% endif %}
		</li>
		{% unless Boss.IsNPC %}
			<li>
				<a class="wiki_link" href="https://eldenring.wiki.fextralife.com/Calculating+Damage">Defense</a>:
				<span style="color: #ffffff;" data-mce-style="color: #ffffff;">
					<strong>{{Boss.Defense[0]}}</strong>
				</span>
			</li>
		{% endunless %}
	{% endif %}
	{% if ShowCrossEnemy %}
	    <li>
            <a class="wiki_link" href="https://eldenring.wiki.fextralife.com/{% if Boss.IsNPC %}Poise{% else %}Stance{% endif %}"><!--
				-->{% if Boss.IsNPC %}Poise{% else %}Stance{% endif %}
			</a>:
            <span style="color: #ffffff;" data-mce-style="color: #ffffff;">
				<strong>{{Boss.Stance}}</strong>
            </span>
        </li>
		{% if Boss.FlaskCharges %}
			<li>
				<a class="wiki_link" href="https://eldenring.wiki.fextralife.com/Flask+of+Crimson+Tears">Flask</a> charges:
				<span style="color: #ffffff;" data-mce-style="color: #ffffff;">
					<strong>{{Boss.FlaskCharges}}</strong>
				</span>
			</li>
		{% elsif Boss.IsNPC %}
			<li>
				Does not carry a
				<a class="wiki_link" href="https://eldenring.wiki.fextralife.com/Flask+of+Crimson+Tears">Flask of Crimson Tears</a>
			</li>
		{% endif %}
        <li>
            <a class="wiki_link" href="https://eldenring.wiki.fextralife.com/Parrying">Parryable</a>:
			{% if Boss.Parriable %}
			    Yes{%
				    if Boss.ParriesPerCrit != 1
				%}, but {{Boss.ParriesPerCrit}} parries are required per
                <a 
					class="wiki_link"
					href="https://eldenring.wiki.fextralife.com/Parrying"
				>stance break</a>
		        {% endif %}
			{% else %}
			    No
			{% endif %}
        </li>
		{% if Boss.Critable or Boss.IsNPC != true %}
			<li>
				{% if Boss.Critable %}
					Is vulnerable to a
					<a
						class="wiki_link"
						href="https://eldenring.wiki.fextralife.com/Critical+Damage"
					>critical hit</a>
					after being
					{% unless Boss.IsNPC %}
						<a
							class="wiki_link"
							href="https://eldenring.wiki.fextralife.com/Stance"
						>stance broken</a>
					{% endunless %}
					{% if Boss.Parriable %}
						{% unless Boss.IsNPC %}or{% endunless %} parried
					{% endif %}
				{% else %}
					Immune to
					<a
						class="wiki_link"
						href="https://eldenring.wiki.fextralife.com/Critical+Damage"
					>critical attacks</a>.
					Breaking its
					<a
						class="wiki_link"
						href="https://eldenring.wiki.fextralife.com/Stance"
					>stance</a>
					{% if Boss.Parriable %}
						or
						<a
							class="wiki_link"
							href="https://eldenring.wiki.fextralife.com/Parrying"
						>parrying</a>
						it
					{% endif %}
					will only stun it briefly
				{% endif %}
			</li>
		{% endif %}
		{% if Boss.Backstabbable %}
			<li>
				Is vulnerable to a 
				<a class="wiki_link" href="https://eldenring.wiki.fextralife.com/Critical+Damage">backstab critical</a>
			</li>
		{% endif %}
		{% if Boss.DamageTypes.size > 0 %}
			<li>
				Damage:
				{% for type in Boss.DamageTypes %}<!--
					-->{% unless forloop.first %}, {% endunless %}
					{% include 'IconLink', type: type %}<!--
				-->{% endfor %}
			</li>
		{% endif %}
		{% if Boss.StatusTypes.size > 0 %}
			<li>
				Inflicts:
				{% for type in Boss.StatusTypes %}<!--
					-->{% unless forloop.first %}, {% endunless %}
					{% include 'IconLink', type: type %}<!--
				-->{% endfor %}
			</li>
		{% endif %}
		{% if Boss.Weaknesses.size > 0 %}
			<li>
				{% for type in Boss.Weaknesses %}
					{% unless forloop.first %} and {% endunless %}
					{% include 'IconLink', type: type %}
				{% endfor %}
				type
			</li>
		{% endif %}
		{% if Boss.WeakPoint %}
			<li>
				Weak point: {{Boss.WeakPoint}}
				{% if Boss.WeakPointExtraDamage %}(+{{Boss.WeakPointExtraDamage}}%){% endif %}
			</li>
		{% endif %}
		{% if Boss.RightHand.size > 0 or Boss.LeftHand.size > 0 %}
			<li>
				{% assign totalWeapons = Boss.RightHand.size | plus: Boss.LeftHand.size %}
				Weapon{% if totalWeapons > 1 %}s{% endif %}:
				{% for weapon in Boss.RightHand %}<!--
					-->{% unless forloop.first %},{% endunless %}
					{% include 'Weapon', weapon: weapon %}<!--
				-->{% endfor %}
				{% if Boss.RightHand.size > 0 and Boss.LeftHand.size > 0 %}(right),{% endif %}
				{% for weapon in Boss.LeftHand %}<!--
					-->{% unless forloop.first %},{% endunless %}
					{% include 'Weapon', weapon: weapon %}<!--
				-->{% endfor %}
				{% if Boss.RightHand.size > 0 and Boss.LeftHand.size > 0 %}(left){% endif %}
			</li>
		{% endif %}
		{% if Boss.NamedArmor.size > 0 %}
			<li>
				Armor:
				{% for armor in Boss.NamedArmor %}<!--
					-->{% unless forloop.first %}, {% endunless %}
					<a class="wiki_link" href="https://eldenring.wiki.fextralife.com/{{armor.Name | spaceToPlus}}">{{armor.Name}}</a><!--
				-->{% endfor %}
			</li>
		{% endif %}
		{% if Boss.Spells.size > 0 %}
			<li>
				Spell{% if Boss.Spells.size > 1 %}s{% endif %}:
				{% for spell in Boss.Spells %}<!--
					-->{% unless forloop.first %}, {% endunless %}
					<a class="wiki_link" href="https://eldenring.wiki.fextralife.com/{{spell | spaceToPlus}}">{{spell}}</a><!--
				-->{% endfor %}
			</li>
		{% endif %}
	{% endif %}
	{% if UniqueFight %}
        <li>
            Drops
			{% if Nightreign %}
				{% if Boss.SoloRunes > 0 %}
					{% include 'Runes', runes: Boss.SoloRunes %} <span style="color: #b4b2b0;">solo</span>,
					{% include 'Runes', runes: Boss.TrioRunes %} <span style="color: #b4b2b0;">trio</span>
				{%- endif -%}
			{%- else -%}
				{%- include 'Runes', runes: Boss.Runes[0] -%}
			{%- endif -%}
			{%- for drop in Boss.Drops -%}
				{%- unless forloop.first and Boss.Runes[0] == 0 -%}
				  {%- if Nightreign -%};{%- else -%},{%- endif -%}
				{%- endunless -%}
				<a
					class="wiki_link"
					href="/{{drop | noXCount | spaceToPlus}}"
				>{{drop | noXCount}}</a>
				{{- drop | onlyXCount -}}
			{%- endfor -%}
        </li>
	{% endif %}
</ul>