{% if BossGroup.size > 0 %}
	<h3 class="bonfire">Where to find Elden Ring {% if Nightreign %}Nightreign{% endif %} {{Boss.Name}}</h3>

	<ul>
		{% for boss in BossGroup %}
			<li>
				{{ boss.Location }}
				[<a class="wiki_link" href="/{{boss.Name | spaceToPlus}}#{{ boss.Location | slugify }}">More Info ↓</a>]
			</li>
		{% endfor %}
	</ul>
{% endif %}

<h3 class="bonfire">{{Boss.Name}} Combat information</h3>

{% if Nightreign %}
	{% include 'CombatInfo' %}

	<div class="row flexrow">
		<div class="col-sm-6">
			{% include 'Negations' %}
		</div>
		<div class="col-sm-6">
			{% include 'Resistances' %}
		</div>
	</div>
{% else %}
	<div class="row flexrow">
		<div class="col-sm-6">
			{% include 'CombatInfo' %}
		</div>
		<div class="col-sm-6">
			{% include 'Negations' %}
		</div>
	</div>
{% endif %}
