{% if BossGroup.size > 0 %}
	<h3 class="bonfire">Where to find Elden Ring {% if Nightreign %}Nightreign{% endif %} {{Boss.Name}}</h3>

	<ul>
		{% for boss in BossGroup %}
			<li>
				{%- if boss.LocationIcon -%}
					{%- include 'IconImage', type: boss.LocationIcon -%}
				{%- endif -%}
				{{- boss.Location }}
				{% if boss.Location == "Night Boss" and Boss.Expeditions.size > 1 %}
					for
					{% for expedition in Boss.Expeditions %}
						{% if forloop.last and Boss.Expeditions.size > 1 %}and{% endif %}
						<a class="wiki_link" href="/{{ expedition | slugify }}">
							{{- expedition -}}
						</a>
						{%- unless forloop.last or Boss.Expeditions.size == 2 %},{% endunless %}
					{% endfor %}
				{% endif %}
				[<a class="wiki_link" href="/{{boss.Name | spaceToPlus}}#{{ boss.Location | slugify }}">More Info ↓</a>]
			</li>
		{% endfor %}
	</ul>
{% endif %}

<h3 class="bonfire">{{Boss.Name}} Combat information</h3>

{% if Nightreign %}
	{% include 'CombatInfo' %}

	<div class="row flexrow">
		<div class="col-sm-6">
			{% include 'Negations' %}
		</div>
		<div class="col-sm-6">
			{% include 'Resistances' %}
		</div>
	</div>
{% else %}
	<div class="row flexrow">
		<div class="col-sm-6">
			{% include 'CombatInfo' %}
		</div>
		<div class="col-sm-6">
			{% include 'Negations' %}
		</div>
	</div>
{% endif %}
