<hr style="clear: both">
<div class="infobox">
	<div class="table-responsive">
		<table class="wiki_table">
			<tbody>
				<tr>
					<th colspan="2">
						<h2>
							<a id="{{Boss.Location | slugify}}" class="mce-item-anchor"></a><!--
							-->{{Boss.Name}}
						</h2>
						<h4>
							<a
								href="https://eldenring.wiki.fextralife.com/{{
									Boss.Location | spaceToPlus
								}}"
							>{{Boss.Location}}</a>
						</h4>
					</th>
				</tr>
				<tr>
					<td style="text-align: center" data-mce-style="text-align: center" colspan="2">
						__image__
					</td>
				</tr>
				<tr>
					<td>Drops</td>
					<td>
						<img
						  title="Runes Icon"
						  alt="Runes Icon"
						  src="https://eldenring.wiki.fextralife.com/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png"
						  data-mce-src="/file/Elden-Ring/runes-currency-elden-ring-wiki-guide-18.png"
						>{{Boss.Runes[0] | number}}<!--
						-->{% for drop in Boss.Drops %}<!--
							--><br><!--
							--><a
								href="/{{drop | noXCount | spaceToPlus}}"
							>{{drop | noXCount}}</a><!--
							-->{{drop | onlyXCount}}<!--
						-->{% endfor %}
					</td>
				</tr>
				<tr>
					<td>HP</td>
					<td>{{Boss.HP[0] | number}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'BossHeader', display: 'enemy-specific' %}

<h3 class="bonfire">{{Boss.Name}} Combat information</h3>

<div class="row flexrow">
	<div class="col-sm-6">
		{% include 'CombatInfo' %}
	</div>
	<div class="col-sm-6">
		{% include 'Resistances' %}
	</div>
</div>

{% include 'NewGamePlus' %}
