{% unless IsTopLevelInfobox %}<hr style="clear: both">{% endunless %}
<div {% if IsTopLevelInfobox %}id="infobox"{% endif %} class="infobox">
	<div class="table-responsive">
		<table class="wiki_table">
			<tbody>
				<tr>
					<th colspan=2>
						<h2>
							{% if Display == 'OneEnemyOfMany' %}
								{% assign slug = Boss.Location %}
							{% else %}
								{% assign slug = Boss.Name %}
							{% endif %}
							{% unless IsTopLevelInfobox %}
								<a id="{{slug | slugify}}" class="mce-item-anchor"></a><!--
							-->{% endunless %}<!--
							-->{{Boss.Name}}
						</h2>
						{% unless Display == 'ExtraEnemy' or IsTopLevelInfobox %}
							<h4>
								{%- if Boss.LocationForLink -%}
									<a href="/{{Boss.LocationForLink | spaceToPlus}}">
										{{- Boss.Location -}}
									</a>
								{%- else -%}
									{{ Boss.Location }}
								{%- endif -%}
							</h4>
						{% endunless %}
					</th>
				</tr>
				<tr>
					<td style="text-align: center" data-mce-style="text-align: center" colspan=2>
						{% if Boss.TopLevelImage and IsTopLevelInfobox %}
							{{ Boss.TopLevelImageHtml }}
						{% else %}
							{{ Boss.ImageHtml }}
						{% endif %}
					</td>
				</tr>
				{% unless IsTopLevelInfobox and BossGroup.size > 0 or Display == 'ExtraEnemy' %}
				<tr>
						<td>Drops</td>
						<td>{% include 'InfoboxDrops' %}</td>
					</tr>
				{% endunless %}
				{% if IsTopLevelInfobox and BossGroup.size > 0 %}
					<tr><td colspan=2 style="text-align: center">Locations &amp; Drops</td></tr>
					<tr>
						<td colspan="2">
							{% for boss in BossGroup %}
								<p>
									<strong>{{ boss.Location }}:</strong><br>
									{% include 'InfoboxDrops', Boss: boss %}
								</p>
							{% endfor %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td>HP</td>
						<td>
							{% for hp in Boss.HP[0] %}
								{% unless forloop.first %}<br>{% endunless %}
								{{hp | number}}
								{% if forloop.length > 1 %}
									<span style="color: #b4b2b0">(phase {{forloop.index}})</span>
								{% endif %}
							{% endfor %}
							{% if Nightreign %}
								<span style="color: #b4b2b0">solo</span><br/>
								{% for hp in Boss.DuoHP[0] %}
									{% unless forloop.first %}<br>{% endunless %}
									{{hp | number}}
									{% if forloop.length > 1 %}
										<span style="color: #b4b2b0">(phase {{forloop.index}})</span>
									{% endif %}
								{% endfor %}
								<span style="color: #b4b2b0">duo</span><br/>
								{% for hp in Boss.TrioHP[0] %}
									{% unless forloop.first %}<br>{% endunless %}
									{{hp | number}}
									{% if forloop.length > 1 %}
										<span style="color: #b4b2b0">(phase {{forloop.index}})</span>
									{% endif %}
								{% endfor %}
								<span style="color: #b4b2b0">trio</span>
							{% endif %}
						</td>
					</tr>
				{% endif %}
				{% if IsTopLevelInfobox or Display == 'NewPage' %}
					<tr>
						<td>
							Stronger VS
							<div class="lineleft">
								{% if Boss.StrongerVS.size > 0 %}
									{% for type in Boss.StrongerVS %}
										{% include 'IconLink', type: type -%}
										{%- unless forloop.last %}<br/>{% endunless %}
									{% endfor %}
								{% else %}
									-
								{% endif %}
							</div>
						</td>
						<td>
							Weak to
							<div class="lineleft">
								{% if Boss.WeakerVS.size > 0 %}
									{% for type in Boss.WeakerVS %}
										{% include 'IconLink', type: type -%}
										{%- unless forloop.last %}<br/>{% endunless %}
									{% endfor %}
								{% else %}
									-
								{% endif %}
							</div>
						</td>
					</tr>
				{% endif %}
				{% if Boss.Nightlord %}
					<tr><td colspan=2><table style="width: 100%; border: none">
						<tr style="text-align: center">
							<td colspan=4>
								<h4 style="margin: 0">{{ Boss.ShortName }} Negations</h4>
								<p style="margin: 0; font-size: 8pt; font-weight: normal">
									(higher numbers prevent more damage)
								</p>
							</td>
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.TypeNegationPairs limit:4 %}
								<td style="padding: 0">
									{% include 'IconLink', type: entry.Item1, imageOnly: true %}
								</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.TypeNegationPairs limit:4 %}
								<td style="padding-top: 0; padding-bottom: 10px">{{ entry.Item2 }}</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.TypeNegationPairs offset:4 %}
								<td style="padding: 0">
									{% include 'IconLink', type: entry.Item1, imageOnly: true %}
								</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.TypeNegationPairs offset:4 %}
								<td style="padding-top: 0; padding-bottom: 10px">{{ entry.Item2 }}</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							<td colspan=4>
								<h4 style="margin: 0">{{ Boss.ShortName }} Resistances</h4>
								<p style="margin: 0; font-size: 8pt; font-weight: normal">
									(higher numbers are harder to trigger)
								</p>
							</td>
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.ResistancePairs limit:4 %}
								<td style="padding: 0">
									{% include 'IconLink', type: entry.Item1, imageOnly: true %}
								</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.ResistancePairs limit:4 %}
								<td style="padding-top: 0; padding-bottom: 10px">
									{% if entry.Item2 == null %}-{% else %}{{ entry.Item2[0][0] }}{% endif %}
								</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.ResistancePairs offset:4 %}
								<td colspan="2" style="padding: 0">
									{% include 'IconLink', type: entry.Item1, imageOnly: true %}
								</td>
							{% endfor %}
						</tr>
						<tr style="text-align: center">
							{% for entry in Boss.ResistancePairs offset:4 %}
								<td style="padding-top: 0; padding-bottom: 10px" colspan="2">
									{% if entry.Item2 == null %}-{% else %}{{ entry.Item2[0][0] }}{% endif %}
								</td>
							{% endfor %}
						</tr>
					</table></td></tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>

